.socials {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
  
  .socials__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: var(--accent);
    }
  }
  
  .socials__svg {
    width: 20px;
    height: 20px;
    fill: var(--social-icons);
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
    .socials__link:hover &,
    .socials__link:focus & {
      fill: var(--alt-title);
    }
  }