:root {
    --logo-studio: #000000;
    --main-text: #757575;
    --title-color: #212121;
    --accent: #2196f3;
    --alt-title: #ffffff;
    --dark-bg: #2f303a;
    --bg: #ffffff;
    --alt-bg: #f5f4fa;
    --hero-bg: #c4c4c4;
    --border-header: #ececec;
    --border-portfolio-card: #eeeeee;
    --social-icons: #afb1b8;
  
    --main-font: "Roboto", sans-serif;
    --title-logo-font: "Raleway", sans-serif;
  }