.clients__card-set {
    justify-content: center;
  }
  
  .client__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  
    @media screen and (min-width: 480px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
    }
  
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 3 * 30px) / 3);
    }
  
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 6 * 30px) / 6);
    }
  }
  
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 90px;
    border: 1px solid var(--social-icons);
    border-radius: 4px;
    fill: var(--social-icons);
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1),
      250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: 768px) {
      width: 226px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  
    &:hover,
    &:focus {
      fill: var(--accent);
      border-color: var(--accent);
      outline: none;
    }
  }
  
  .clients__svg {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }