.hero {
    max-width: 1600px;
    text-align: center;
    background-color: var(--hero-bg);
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/mobile/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/tablet/hero.jpg);
    }
  
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/desktop/hero.jpg);
      padding-top: 200px;
      padding-bottom: 200px;
    }
  
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @media screen and (max-width: 767px) {
        background-image: linear-gradient(
            to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero/mobile/hero@2x.jpg);
      }
  
      @media screen and (min-width: 768px) {
        background-image: linear-gradient(
            to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero/tablet/hero@2x.jpg);
      }
  
      @media screen and (min-width: 1200px) {
        background-image: linear-gradient(
            to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero/desktop/hero@2x.jpg);
        padding-top: 200px;
        padding-bottom: 200px;
      }
    }
  }